body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.experience{
   margin-left: 50px;
}
.orange-highlight{
    color: orange;
    font-family: 'Yellowtail', cursive;
    /* font-size: 50px; */
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-bannar{
    background-repeat: no-repeat;
    background-image: url("Images/top-banner.png");
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;

}
.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;



}