body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.experience{
   margin-left: 50px;
}
.orange-highlight{
    color: orange;
    font-family: 'Yellowtail', cursive;
    /* font-size: 50px; */
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 10px;
}
.half-width img{
    width: 100%;
}
.top-bannar{
    background-repeat: no-repeat;
    background-image: url("Images/top-banner.png");
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;

}
.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;



}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    background-color: white;
    border-radius: 15px;
}
.experience-area{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato) ;
    border-image-slice: 1;
}
#junior-frontend{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue, cyan) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;

}